/* Loader.css */

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    /* Optional background to dim the page */
    z-index: 9999;
    /* Ensure it's above other elements */
}

.footer-logo {
    position: absolute;
    bottom: 0;
    width: 200px;
    align-items: center;
}

.loader-logo {
    margin-bottom: 50px;
    width: 150px;
    /* Adjust size as needed */
    animation: moveToTopLeft 3s forwards;
    /* Animation duration and end state */
}

@keyframes moveToTopLeft {
    0% {
        transform: translate(0, 0);
        opacity: .8;
        /* Start at center */
    }

    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.loader-logo2 {
    margin-bottom: 50px;
    width: 250px;
    /* Adjust size as needed */
    animation: loader2 3s forwards;
    /* Animation duration and end state */
}

@keyframes loader2 {
    0% {
        transform: translate(0, 0);
        opacity: .8;
        /* Start at center */
    }

    50% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

.logoN {
    width: 200px;
    /* Adjust size as needed */
    z-index: 1000;
}

.flight {
    width: 200px;
    /* Adjust size as needed */
    z-index: 1005;
    animation: moveToTopRight 3s forwards;
    /* Animation duration and end state */
}

@keyframes moveToTopRight {
    0% {
        transform: translate(-100%, 100%); /* Start at bottom-left */
        opacity: 0.8;
    }

    100% {
        transform: translate(calc(100vw - 100%), -100%); /* Move to top-right corner */
        opacity: 1;
    }
}
